.block{
    box-shadow: $dropshadow;
    background: white;
    padding: 15px 20px 15px 20px;
    margin: 15px 0px;
    box-sizing: border-box;

    &--row{
        overflow: hidden;
    }

    &--half{
        float: left;
        width: 100%;
        @include clearMargins;
    }

    &--full{
        width: 100%;
        display: block;
    }
}

@include mq-desk{
    .block{

        &--half{
            width: 48%;
            margin-left: 4%;
        }
    }
}