.nav{
    background: $primary-color;
    font-size: $large-size;
    color: white;
    box-shadow: $dropshadow;
    margin-bottom: 25px;

    .title--main{
        display: inline-block;
        margin: 10px 0px;
    }

    .btn--transparent{
        float: right;
        margin-top: 10px;
        color: white;
    }

    .list{
        width: 100vw;
        height: 100vh;
        display: none;

        a{
            display: block;
            color: white;
            padding: 8px 0px;

            &:hover{
                background-color: rgba(white, .2);
            }
        }

        &.open{
            display: block;
        }
    }
}

@include mq-desk{
    .nav{

        .list{
            width: auto;
            height: auto;
            float: right;
            display: flex;
            justify-content: flex-start;

            a{
                padding: 16px 15px;
            }
        }

        [data-open-menu]{
           display: none;
        }
    }    
}