.nav{
    background: $primary-color;
    font-size: $large-size;
    color: white;
    box-shadow: $dropshadow;
    margin-bottom: 25px;

    .title--main{
        display: inline-block;
        margin: 10px 0px;
    }

    .btn--transparent{
        float: right;
        margin-top: 2px;
        color: white;
    }

    .list{
        display: flex;
        justify-content: flex-start;
        float: right;
        height: 100%;

        a{
            padding: 16px 15px;
            display: block;
            color: white;

            &:hover{
                background-color: rgba(white, .2);
            }
        }
    }
}