body,html{
  padding: 0px;
  margin: 0px;
  font-size: $default-size;
}
body{
  font-family: 'Open Sans', sans-serif;  
  background: #f9f9f9;
}

.container{
  max-width: 960px;
  padding: 0px 30px;
  position: relative;
  margin: 0px auto;
}


label{
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

select{
  border: none;
  background: white;
  -webkit-appearance: none;
  appearance: none;
  padding: $input-padding-select;
  border-radius: $border-radius;
  box-shadow: $dropshadow;
  display: block;
  width: 100%;
}

input{
  border-radius: 0px;
  box-sizing: border-box;
}

input[type="text"]{
  -webkit-appearance: none;
  border: none;
  background: transparent;
  font-size: $default-size;
  border-bottom: $border-bottom;
  width: 100%;
  margin-bottom: 10px;
  padding: $input-padding-text;

  &:focus{
    @include focusStyle;
  }
}

input[type="number"]{
  border: none;
  padding: $input-padding-text;
  border-bottom: $border-bottom;
  max-width: 47%;
  font-size: $default-size;

  &:focus{
    @include focusStyle;
  }
}


button{

  &:focus{
    outline: none;
  }
}

.btn{
  border: none;
  font-size: 16px;
  width: 100%;
  padding: 16px 0px 18px 0px;
  box-shadow: $soft-dropshadow;
  border-radius: $border-radius;
  transition: $fast-transition;
  margin: 10px 0px;

  &--primary{
    background-color: $primary-color;
    color: white;
  }

  &--danger{
    background-color: $danger-color;
    color: white;
  }

  &--square{
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin: 0px 6px;
    background: $soft-grey;
    flex-grow: 1;

    @include clearMargins;

  }

  &--transparent{
    background: none;
    border: none;
    width: auto;
    box-shadow: none;
    display: inline-block;
    padding: 0px;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: $small-size;

    &:hover{
      background-color: rgba($soft-grey, .4);
    }
  }

  &:disabled{
    opacity: .5;
    pointer-events: none;
  }

  &__container{

    &--square{
      display: flex;
      @include smallOffset;
    }

    &--inline{
      display: flex;
      flex-direction: row-reverse;

      .btn{
        display: inline-block;
        width: auto;
        flex-grow: 1;
        margin: 0px 5px;
        @include clearMarginsReversed;
      }
    }
  }

  &:hover{
    opacity: .85;
  }

  &:focus,
  &:active{
    box-shadow: $pressed-dropshadow;
  }
}


.input{

  &__inline{
    margin-left: 15px;
  }
}

.label{

  &--input{
    text-transform: none;

    input[type="checkbox"]{
      top: -1px;
      margin-right: 5px;
      position: relative;
    }
  }
}

.input,
.label{

  &__inline{
    display: inline-block;
    @include clearMargins;
  }
}


.list{
  list-style-type: none;
  padding: 0px;
  margin: 0px;

  &__item{
    @include clearMargins;

    a{
      transition: $fast-transition;
    }
  }
}


.title{

  &--main{
    margin: 0px;
    color: white;
  }
}

a{
  text-decoration: none;
}